nav{
	position: absolute;
	box-shadow: none;
	z-index: 2;
}
#slogan{
	position: relative;
}
#slogan>div{
	position: absolute;
	top: 50%;
	width: 100%;
}
#slogan a{
	border: 1px solid #fff;
	padding: 10px;

}
html, body{
	height: 100%;
	
}
.valing-wrapper{
	height:100%;
	margin:-7px;
	}
.para{
	height:100%;
}
.half-first{
	float:left;
}
.half{
	margin-left: 0;
}
.half-first{
	width: 50%;
}
.half{
	width: 50%;
}
#contacto h5{
	border: 1px solid #fff;
	padding: 10px
}
#contacto .valign-wrapper{
	height: 50vh;
}
#contacto h5{
	display:inline-block;
}
